# Set Labels

- Need to edit the Mars Labels (and only get files that are of the Planet's surface)
- Need mv all Mars images to new dir (delete old one)
- Do we need Images of earth? or can we feature extract just for the mars or not scenario?

In [67]:
import pandas as pd 

# Image Labels
lf = pd.read_csv("../MarsImages/concated.csv")

# Label Definitions
with open("../MarsImages/Labels Information.txt", "r") as f:
    label_categories = [s.strip().split("      " ) for s in f.readlines()]


# Replace "calibrated" str with correct folder name
lf['jpg'] = lf['jpg'].str.replace('calibrated', 'images', regex=True)
lf

# Checked Images by Labels, need 8, 9 & potentially 13
lf = lf[lf["label"].isin([8, 9])]

In [60]:
label_categories[0][0] #index double list
label_categories

for l in range(lf["label"].nunique()):
    print(label_categories[l])

['0', ' apxs']
['1', ' apxs cal target']
['2', ' chemcam cal target']
['3', ' chemin inlet open']
['4', ' drill']
['5', ' drill holes']
['6', ' drt front']
['7', ' drt side']
['8', ' ground']
['9', ' horizon']
['10', 'inlet']
['11', 'mahli']
['12', 'mahli cal target']
['13', 'mastcam']
['14', 'mastcam cal target']
['15', 'observation tray']
['16', 'portion box']
['17', 'portion tube']
['18', 'portion tube opening']
['19', 'rems uv sensor']
['20', 'rover rear deck']
['21', 'scoop']
['22', 'sun']
['23', 'turret']

In [59]:
df = lf[lf["label"] == 0]

for i, row in df.head().iterrows():
    print(i, " -- ", row["jpg"])

68  --  images/0894MR0038950000501234I01_DRCL.JPG
80  --  images/0611MR0025740000401044I01_DRCL.JPG
111  --  images/0781MR0033220000404129E01_DRCL.JPG
115  --  images/1048MR0045820000104526E01_DRCL.JPG
145  --  images/0781MR0033340000404141E01_DRCL.JPG

In [ ]:
# View Image for Label Function
from PIL import Image

folder_path = "../MarsImages/"

for l in range(lf["label"].nunique()):

    # Filter for Current Label
    df = lf[lf["label"] == l]
    print(label_categories[l])

    # Get Images for Current Label
    for i, row in df.head(3).iterrows():
        img_name = row["jpg"]
        img_path = folder_path + img_name
        display((Image.open(img_path)))




# Old Mechanism, did by hand
# img_name = lf.loc[80, "jpg"]
# img_path = folder_path + img_name

# img = Image.open(img_path)
# img

In [71]:
# Check Width & Height or Mars Surface Image
dims = []

for i, row in lf.iterrows():
    img_name = row["jpg"]
    img_path = folder_path + img_name
    image = Image.open(img_path)
    width, height = image.size
    if (width, height) not in dims:
        dims.append((width, height))

len(dims) #30 unique sizes
dims

[(255, 188),
 (256, 192),
 (256, 256),
 (256, 191),
 (256, 228),
 (255, 255),
 (255, 192),
 (256, 209),
 (256, 218),
 (256, 193),
 (256, 153),
 (255, 209),
 (256, 179),
 (255, 231),
 (255, 228),
 (256, 188),
 (256, 230),
 (255, 210),
 (255, 218),
 (255, 191),
 (256, 172),
 (255, 197),
 (256, 168),
 (256, 186),
 (256, 127),
 (255, 121),
 (256, 128),
 (256, 160),
 (255, 181),
 (256, 140)]

In [73]:
lf["filepath"] = "../MarsImages/" + lf["jpg"]

# Write Out 
lf.to_csv("../MarsImgs.csv", index=False)

In [82]:
lf.loc[2, "filepath"]

'../MarsImages/images/0647MH0003250050203806E01_DRCL.JPG'

In [90]:
# Create List of Earth Images (fine tuning data)

ef = pd.read_csv("../EarthImgs.csv", names=["fname"])
ef['filepath'] = "../EarthImages/" + ef["fname"]
ef.to_csv("../EarthImgs.csv", index=False)

In [133]:
# CP Files to PlanetaryImages Dir
import shutil

# Mars
lf = pd.read_csv("../MarsImgs.csv")

for i in lf["filepath"]:
    fpath = i.split("/")
    name = fpath[-1]
    shutil.copy(i, f"../PlanetaryImages/{name}")


# Earth
ef = pd.read_csv("../EarthImgs.csv")

for i in ef["filepath"]:
    fpath = i.split("/")
    name = fpath[-1]
    shutil.copy(i, f"../PlanetaryImages/{name}")

## Need to Write a Custom Image Dataset


7372 images in PlanetaryImages 
 - 3055 Mars
 - 4317 Earth

Unfortunately had to convert images to grayscale (a few snakes in the grass!)

use pytorch tutorial- https://pytorch.org/tutorials/beginner/basics/data_tutorial.html?highlight=dataloader

In [135]:
# ReAssign Vars
mars = lf
earth = ef

print(mars.shape, earth.shape)

(3055, 3) (4317, 2)

In [ ]:
# Get Torch Datasets frame for Earth

earth['label'] = 0
earth.drop(columns=["filepath", "name"], inplace=True)

# really cool func I wrote, not necessarily useful but stil
# earth["name"] = [f"e{i}" for i in range(0, len(earth))]

In [137]:
earth

,fname,filepath,label
0,00000000_(2).jpg,../EarthImages/00000000_(2).jpg,0
1,00000000_(3).jpg,../EarthImages/00000000_(3).jpg,0
2,00000000_(4).jpg,../EarthImages/00000000_(4).jpg,0
3,00000000_(5).jpg,../EarthImages/00000000_(5).jpg,0
4,00000000_(6).jpg,../EarthImages/00000000_(6).jpg,0
...,...,...,...
4312,00000897.jpg,../EarthImages/00000897.jpg,0
4313,00000898_(2).jpg,../EarthImages/00000898_(2).jpg,0
4314,00000898_(3).jpg,../EarthImages/00000898_(3).jpg,0
4315,00000898.jpg,../EarthImages/00000898.jpg,0
4316,17113423899_014f7a2b02_k.jpg,../EarthImages/17113423899_014f7a2b02_k.jpg,0

In [127]:
mars

      label                               fname
2         1  0647MH0003250050203806E01_DRCL.JPG
5         1  0605MH0003060010203269I01_DRCL.JPG
6         1  0584MH0003620020202285I01_DRCL.JPG
7         1  0585MH0002970020202775I01_DRCL.JPG
8         1  0882MH0003900000302471I01_DRCL.JPG
...     ...                                 ...
6656      1  0506MH0001760020200669I01_DRCL.JPG
6666      1  0503MH0003070020200582I01_DRCL.JPG
6673      1  0372MH0003050000104215E01_DRCL.JPG
6674      1  0385MH0003050000104275E01_DRCL.JPG
6687      1  0506MH0002240020200655I01_DRCL.JPG

[3055 rows x 2 columns]

In [112]:
# Get Torch Datasets frame for Mars

mars['fname'] = mars['jpg'].str.replace("images/", '')
mars.drop(columns=['jpg', "filepath"], inplace=True)
mars["label"] = 1

mars

      label                               fname
2         1  0647MH0003250050203806E01_DRCL.JPG
5         1  0605MH0003060010203269I01_DRCL.JPG
6         1  0584MH0003620020202285I01_DRCL.JPG
7         1  0585MH0002970020202775I01_DRCL.JPG
8         1  0882MH0003900000302471I01_DRCL.JPG
...     ...                                 ...
6656      1  0506MH0001760020200669I01_DRCL.JPG
6666      1  0503MH0003070020200582I01_DRCL.JPG
6673      1  0372MH0003050000104215E01_DRCL.JPG
6674      1  0385MH0003050000104275E01_DRCL.JPG
6687      1  0506MH0002240020200655I01_DRCL.JPG

[3055 rows x 2 columns]

In [128]:
pdf

                                     img  label
2     0647MH0003250050203806E01_DRCL.JPG      1
5     0605MH0003060010203269I01_DRCL.JPG      1
6     0584MH0003620020202285I01_DRCL.JPG      1
7     0585MH0002970020202775I01_DRCL.JPG      1
8     0882MH0003900000302471I01_DRCL.JPG      1
...                                  ...    ...
4312                        00000897.jpg      0
4313                    00000898_(2).jpg      0
4314                    00000898_(3).jpg      0
4315                        00000898.jpg      0
4316        17113423899_014f7a2b02_k.jpg      0

[7372 rows x 2 columns]

In [122]:
# Combine FileNames & Labels into One
pdf = pd.concat([mars, earth])

pdf["img"] = pdf["fname"]
pdf.drop(columns="fname", inplace=True)

pdf = pdf[["img", "label"]]


pdf.to_csv("../PlanetaryImages.csv", index=False)

In [138]:
pdf

                                     img  label
2     0647MH0003250050203806E01_DRCL.JPG      1
5     0605MH0003060010203269I01_DRCL.JPG      1
6     0584MH0003620020202285I01_DRCL.JPG      1
7     0585MH0002970020202775I01_DRCL.JPG      1
8     0882MH0003900000302471I01_DRCL.JPG      1
...                                  ...    ...
4312                        00000897.jpg      0
4313                    00000898_(2).jpg      0
4314                    00000898_(3).jpg      0
4315                        00000898.jpg      0
4316        17113423899_014f7a2b02_k.jpg      0

[7372 rows x 2 columns]

In [258]:
# Write Custom Image Dataset

import os
import pandas as pd
from torch.utils.data import Dataset
from torchvision.io import read_image, ImageReadMode

class PlanetaryImages(Dataset):
    def __init__(self, annotations_file, img_dir, transform=None, target_transform=None):
        self.img_labels = pd.read_csv(annotations_file)
        self.img_dir = img_dir
        self.transform = transform
        self.target_transform = target_transform

    def __len__(self):
        return len(self.img_labels)

    def __getitem__(self, idx):
        img_path = os.path.join(self.img_dir, self.img_labels.iloc[idx, 0])
        image = read_image(img_path, mode=ImageReadMode.GRAY) #had to convert all images to GrayScale
        label = self.img_labels.iloc[idx, 1]
        if self.transform:
            image = self.transform(image)
        if self.target_transform:
            label = self.target_transform(label)
        return image, label

In [259]:
from torch.utils.data import DataLoader
from torchvision import transforms

input_size = 224 #GhostNet Required Size

transform = transforms.Compose([
        transforms.ToPILImage(),
        transforms.RandomResizedCrop(input_size),
        transforms.RandomHorizontalFlip(), #used these two originally, images are slightly smaller so switched to center crop
        transforms.ToTensor(),
        #transforms.Normalize([0.485, 0.456, 0.406], [0.229, 0.224, 0.225]) #hard-coded normalization values -- GRAYSCALE
    ])

training_data = PlanetaryImages("../PlanetaryImages.csv", "../PlanetaryImages/", transform=transform)
train_dataloader = DataLoader(training_data, batch_size=64, shuffle=True)

In [266]:
features, labels = next(iter(train_dataloader))
features.shape

torch.Size([64, 1, 224, 224])